.App {
    display: flex;
    flex-direction: column;
    padding-top: 100px; 
  }
  

@media (max-width: 768px) {
    .App {
        flex-direction: column; 
    }

    .page {
        margin-left: 0;
    }
}

